@use "@/styles/abstract/mixins" as *;

.nav {
  padding: 1rem 2rem;
  font-size: 2rem;
  transition: transform 0.5s;
  background-color: $color-grey-dark;
  position: fixed;
  width: 100%;
  color: $color-grey-light;
  z-index: 10;
  &--desktop {
    display: flex;
    gap: 3rem;
  }
  &__collapse {
    color: $color-grey-light;
    font-size: 2rem;
    @include flex-container;
    gap: 3rem;
  }

  &__logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    filter: invert((0.8));
  }

  &__loginbox {
    color: inherit;
  }

  &__list {
    list-style: none;
    color: $color-grey-light;
    margin-right: 5rem;
    &--desktop {
      @include flex-container(space-between);
      width: 60%;
    }
  }
  &__nested {
    list-style: none;
    background-color: $color-grey-dark;
    padding: 2rem;
    border-radius: $container-radius;
  }
  &__item {
    width: min-content;
  }
}
.collapse__list {
  width: max-content;
}
