@use "@/styles/abstract/mixins" as *;
@use "@/styles/abstract/mixins" as *;

.nav {
  padding: 0.5rem 2rem;
  background-color: grey;
  &__collapse {
    font-size: 2rem;
    @include flex-container(space-between);
  }
  &__logo {
    width: 3rem;
    height: 3rem;
  }
}
