@use "../abstract/mixins" as *;

html {
  font-size: 40%;
  @media (min-width: 350px) {
    font-size: 45%;
  }
  @media (min-width: 360px) {
    font-size: 50%;
  }
  @media (min-width: 1100px) {
    font-size: 55%;
  }
  @media (min-width: 1240px) {
    font-size: 60%;
  }
}

body {
  background-color: #eee;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
