@use "@/styles/abstract/mixins" as *;

.collapse {
  z-index: 10;
  color: inherit;
  overflow: hidden;
  border-radius: $container-radius;

  &__content {
    border-radius: $container-radius;
    z-index: 10;
    overflow: hidden;
    transition: max-height 0.2s;
    max-height: 0;
  }
}
