@use "@/styles/abstract/mixins" as *;

.item {
  @include flex-container;
  width: max-content;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  gap: 1rem;

  &__icon {
    @include flex-container;
  }
}
